<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>焦婷作品集</title>
    <meta name="keywords" content="{$systeminfo.sys_keyword}" />
    <meta name="description" content="{$systeminfo.sys_remark}" />
    <meta name="version" content="v {$systeminfo.sys_version}" />
    <meta name="author" content="{$Think.config.auth.author}"/>
    <!--移动设备优先-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if lt IE 9]>
    <script>window.location.href= "{:url('base/ieerror')}";</script>
    <![endif]-->
    <link rel="stylesheet" href="home_css/bootstrap.css?v={$systeminfo.sys_version}" />
    <link rel="stylesheet" href="home_css/my.css?v={$systeminfo.sys_version}" />
    <style type="text/css">
        body {margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;overflow: hidden;}
    </style>
</head>
<body>
<iframe src="http://www.myhttp.cn/best.pdf" width='100%' height='2000px' frameborder='0' name="_blank" id="_blank"></iframe>
</body>
</html>